{% extends 'base.html.twig' %}

{% block title %}GR Pintura{% endblock %}

{% block body %}
<section class="hero-section position-relative">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for i in 1..3 %}
            <div class="carousel-item {{ loop.first ? 'active' : '' }}" style="background-image: url('{{ i }}.png');">
                <!-- O estilo de fundo será aplicado aqui -->
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="overlay-content">
        <!-- Seu conteúdo anterior aqui -->
        <div class="container text-center">
            <h1 class="text-white">Cores que inspiram, resultados que impressionam.</h1>
            <p>Obtenha a excelência com a GR Pintura</p>
            <a href="#projetos-realizados" class="btn btn-custom btn-sm">Projetos realizados</a>
            <a href="#detalhes-projeto" class="btn btn-custom btn-sm">Serviços</a>
            <a href="https://wa.me/5511967237769" class="btn btn-custom btn-sm">Contato      <i class="bi bi-whatsapp"></i></a>
        </div>
    </div>
</section>
<section id="projetos" class="completed-projects-section py-5">
    <div class="container">
        <header class="text-center mb-5">
            <h2 class="arsenal-bold section-title">Projetos Realizados</h2>
            <p class="section-description">Confira alguns dos projetos que realizamos com dedicação e qualidade.</p>
        </header>
        <div class="row g-3 justify-content-center">
            <div class="col-6 col-md-4 col-lg-3">
                <div class="project-image" style="background-image: url('04-gr-text-proj.jpg');"></div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="project-image" style="background-image: url('06-gr-text-proj.jpg');"></div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="project-image" style="background-image: url('comercial-5.png');"></div>
            </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="project-image" style="background-image: url('08-gr-text-proj.jpg');"></div>
            </div>
            <!-- Adicione mais fotos conforme necessário -->
        </div>
    </div>
</section>
<div class="container mt-2">
        <header class="text-center mb-5">
            <h2 class="arsenal-bold section-title">Sobre Nós</h2>
            <p class="section-description">Conheça um pouco mais sobre a gente, e descubra um excelente parceiro para seus projetos.</p>
        </header>
<section id="sobre-nos" class="section-background-opacity">
    <div class="container px-6 py-8 content-above-opacity">
        <header class="row py-5">
            <div class="col-lg-4 d-flex flex-column align-items-center gap-2">
                <img src="{{ asset('gr-pintura-logo.png') }}" alt="Logo GR Pinturas" class="mb-4" style="max-width: 200px;">
                <p class="text-black text-center">A GR Pinturas, fundada por Adriano Gubitose, é referência em pintura e revestimentos de alta qualidade na região de Jandira-SP. Nossa equipe dedicada de profissionais experientes garante resultados que superam as expectativas dos clientes.</p>
            </div>
                <div class="col-lg-4 mt-4 d-flex flex-column align-items-start gap-2 text-center text-lg-start">
                    <h3 class="arsenal-bold text-body-emphasis"><i class="bi bi-paint-bucket"></i> Nossas Especialidades</h3>
                    <ul class="arsenal-regular list-specialties">
                        <li><i class="bi bi-brush list-item-icon"></i> Aplicação de texturas para áreas externas</li>
                        <li><i class="bi bi-droplet list-item-icon"></i> Verniz para superfícies de madeira</li>
                        <li><i class="bi bi-paint-bucket list-item-icon"></i> Pintura à óleo para superfícies metálicas</li>
                        <li><i class="bi bi-shield-lock list-item-icon"></i> Impermeabilização de áreas</li>
                    </ul>
                </div>
            <div class="col-lg-4 mt-2 d-flex flex-column align-items-center gap-2">
                <h3 class="arsenal-bold text-body-emphasis">Por que escolher a GR Pinturas?</h3>
                <p class="arsenal-bold text-center text-black">Confie na nossa experiência e compromisso com a pontualidade e qualidade para realizar o projeto dos seus sonhos.</p>
                <a href="#projetos-realizados" class="btn btn-custom">Conheça nossas opções de serviços</a>
            </div>
        </header>
    </div>
</section>
</div>
<section id="projetos-realizados" class="projects-section py-5">
    <div class="container">
        <header class="text-center mb-5">
            <h2 class="arsenal-bold section-title">Nossas Opções de Serviços</h2>
            <p class="section-description">Explore nossas especialidades e encontre a solução perfeita para suas necessidades de pintura e revestimento.</p>
        </header>
        <div class="row justify-content-center">
            <div class="col-6 col-md-4 mb-4">
                <div class="card">
                    <div class="card-cover" style="background-image: url('06-gr-text-proj.jpg');"></div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Textura Projetada</h5>
                        <p class="card-text">Aplicação para áreas externas</p>
                        <a href="{{ path('app_servicos_opcoes') }}" class="stretched-link text-decoration-none text-primary fw-bold">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <div class="card">
                    <div class="card-cover" style="background-image: url('comercial-11.jpg');"></div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Pintura à Óleo</h5>
                        <p class="card-text">Aplicação em superfíces metálicas</p>
                        <a href="{{ path('app_servicos_opcoes') }}" class="stretched-link text-decoration-none text-primary fw-bold">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <div class="card">
                    <div class="card-cover" style="background-image: url('comercial-9.png');"></div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Verniz</h5>
                        <p class="card-text">Ideal para objetos com acabamento em madeira.</p>
                        <a href="{{ path('app_servicos_opcoes') }}" class="stretched-link text-decoration-none text-primary fw-bold">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <div class="card">
                    <div class="card-cover" style="background-image: url('comercial-10.jpg');"></div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Impermeabilizantes</h5>
                        <p class="card-text">Proteja àreas expostas à chuvas</p>
                        <a href="{{ path('app_servicos_opcoes') }}" class="stretched-link text-decoration-none text-primary fw-bold">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <div class="card">
                    <div class="card-cover" style="background-image: url('comercial-5.png');"></div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Pintura Decorativa e Personalizada </h5>
                        <p class="card-text">Grafiato</p>
                        <a href="{{ path('app_servicos_opcoes') }}" class="stretched-link text-decoration-none text-primary fw-bold">Saiba mais</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 mb-4">
                <div class="card">
                    <div class="card-cover" style="background-image: url('comercial-6.png');"></div>
                    <div class="card-body text-center">
                        <h5 class="card-title">Pintura em geral</h5>
                        <p class="card-text">Acabamento de alta qualidade</p>
                        <a href="{{ path('app_servicos_opcoes') }}" class="stretched-link text-decoration-none text-primary fw-bold">Saiba mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
