{% extends 'base.html.twig' %}

{% block title %}Orcamento{% endblock %}

{% block body %}
    <h1>Orcamento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ orcamento.id }}</td>
            </tr>
            <tr>
                <th>Quantidade</th>
                <td>{{ orcamento.quantidade }}</td>
            </tr>
            <tr>
                <th>Valor_total</th>
                <td>{{ orcamento.valorTotal }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ orcamento.data ? orcamento.data|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_orcamento_index') }}">back to list</a>

    <a href="{{ path('app_orcamento_edit', {'id': orcamento.id}) }}">edit</a>

    {{ include('orcamento/_delete_form.html.twig') }}
{% endblock %}
